.UserProfilePage {
  display: flex;
  width: 100%;
  font-family: Arial, sans-serif;
  padding: 0;
  text-align: center;
  align-items: center;
  box-sizing: border-box; /* Включаем отступы и границы в ширину и высоту */
  overflow: hidden; /* Предотвращает выход дочерних элементов за пределы контейнера */
}
