/* Стили для компьютера (не мобильных устройств) */
@media only screen and (min-width: 1081px) {
    .season_menu {
        display: flex;
        flex-wrap: wrap;
        width: 100%; /* Ширина контейнера для примера */
        margin: 0;
        margin-bottom: 1%;
    }

    .season {
        width: 5%;
        padding: 10px 20px;
        font-size: 50%;
        font-weight: bold;
        text-transform: uppercase;
        /*text-size: 5%;*/
        height: 100%;
        color: black;
        user-select: none;
        background: linear-gradient(130deg, rgba(100, 130, 175, 0.5), darkgray);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        transition: background 0.3s, transform 0.2s;
        margin-right: 0.5%;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 0.5%; /* Расстояние между блоками */
    }

    /* Стили для кнопки при наведении */
    .season:hover {
        background: linear-gradient(130deg, darkgray, rgba(100, 130, 175, 0.5));
        transform: translateY(-2px);
    }
}