/*!* CSS *!*/
/*@keyframes fullscreen-enter {*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*@keyframes fullscreen-exit {*/
/*    from {*/
/*        opacity: 1;*/
/*    }*/
/*    to {*/
/*        opacity: 0;*/
/*    }*/
/*}*/

/*.fullscreen-enter {*/
/*    animation: fullscreen-enter 0.5s ease;*/
/*}*/

/*.fullscreen-exit {*/
/*    animation: fullscreen-exit 0.5s ease;*/
/*}*/

html.fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

html.fullscreen video {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}