.scale-container {
    position: relative;
    margin: 0;
    width: 100%;
}



#progressRange {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 100%;
    height: 3.5px;
    user-select: none;
    background-color: #888; /* ???? ???? #ceba7a - ??????????, ??????? - #861d1d */
}


#progressRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    user-select: none;
    margin: 0;
    width: 15px; /* ?????? ??????? */
    height: 15px; /* ?????? ??????? */
    background-color: #ceba7a; /* золотистый - #ceba7a ???? ??????? */
    border-radius: 50%; /* ??? ???????? ??????? */
}


#progressRange::-moz-range-thumb {
    margin: 0;
    width: 10px; /* ?????? ??????? */
    height: 10px; /* ?????? ??????? */
    background-color: #ceba7a; /* ???? ??????? */
    border-radius: 50%; /* ??? ???????? ??????? */
    user-select: none;
}